*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

/* Header */

.header{
    background:#131921;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    color:#ffcc00;
    font-size:35px;
    font-weight:bold;
}

.search-box{
    width:45%;
    display:flex;
}

.search-box input{
    width:100%;
    padding:12px;
    border:none;
    outline:none;
    border-radius:8px 0 0 8px;
    font-size:16px;
}

.search-box button{
    width:60px;
    border:none;
    background:#ff9900;
    color:#fff;
    font-size:22px;
    border-radius:0 8px 8px 0;
    cursor:pointer;
}

.menu{
    display:flex;
    gap:25px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.menu a:hover{
    color:#ffcc00;
}

/* Hero */

.hero{
    height:420px;
    background:linear-gradient(90deg,#ff9800,#ffd54f);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:65px;
    color:white;
}

.hero p{
    color:white;
    margin-top:15px;
    font-size:30px;
}

.shop-btn{
    display:inline-block;
    margin-top:30px;
    background:#131921;
    color:white;
    padding:15px 45px;
    text-decoration:none;
    border-radius:50px;
    font-size:22px;
}

/* Categories */

.categories{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:18px;
    padding:25px;
    background:white;
}

.cat{
    background:#ffd11a;
    padding:15px 28px;
    border-radius:50px;
    font-size:22px;
    cursor:pointer;
    transition:.3s;
    font-weight:bold;
}

.cat:hover{
    background:#ff9800;
    color:white;
}

/* Product Section */

.products-section{
    padding:40px;
}

.products-section h2{
    font-size:45px;
    margin-bottom:30px;
}

.products{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    gap:25px;
}
.card{
background:white;
border-radius:12px;
overflow:hidden;
box-shadow:0 3px 10px rgba(0,0,0,.15);
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card img{
width:100%;
height:300px;
object-fit:cover;
}

.card h3{
padding:12px;
font-size:18px;
height:60px;
}

.rating{
margin-left:12px;
background:green;
color:white;
display:inline-block;
padding:4px 8px;
border-radius:5px;
font-size:14px;
}

.card h2{
padding:10px 12px;
}

.card span{
font-size:16px;
color:gray;
text-decoration:line-through;
margin-left:8px;
}

.discount{
color:green;
font-weight:bold;
padding:0 12px;
}

.delivery{
padding:10px 12px;
color:#555;
}

.card button{
width:90%;
margin:15px;
padding:12px;
background:#ff9900;
border:none;
border-radius:8px;
font-size:18px;
cursor:pointer;
}

.card button:hover{
background:#ff7700;
color:white;
}
.nav-right span{

    background:#ff9800;
    color:#fff;
    border-radius:50%;
    padding:2px 7px;
    font-size:12px;
    margin-left:5px;
}

.btns{
display:flex;
gap:10px;
padding:10px;
}

.btns button{
flex:1;
padding:10px;
border:none;
background:#ff9800;
color:#fff;
border-radius:6px;
cursor:pointer;
}

.card span{
font-size:15px;
color:gray;
text-decoration:line-through;
margin-left:8px;
}
.hero{
    width:100%;
    overflow:hidden;
    margin:20px auto;
}

.slider{
    position:relative;
    width:100%;
    height:350px;
}

.slide{
    position:absolute;
    width:100%;
    height:350px;
    object-fit:cover;
    display:none;
}

.slide.active{
    display:block;
}
.modal{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
    z-index:999;
}

.modal-content{
    background:#fff;
    width:350px;
    margin:60px auto;
    padding:20px;
    border-radius:12px;
    text-align:center;
}

.modal-content img{
    width:100%;
    border-radius:10px;
}

.close{
    float:right;
    font-size:28px;
    cursor:pointer;
}

.buy-btn{
    width:100%;
    padding:12px;
    margin-top:15px;
    background:#ff6600;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
}